include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include INSTALL.md
include installation.sh
include requirements.pip
include electrum-sib.conf.sample
include electrum-sib.desktop
include *.py
include electrum-sib
recursive-include lib *.py
recursive-include gui *.py
recursive-include plugins *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include app.fil
include icons.qrc
recursive-include icons *
recursive-include scripts *

